@using System.Security.Claims;
@{ 
    var email = Context.User.Claims.Where(x => x.Type == ClaimTypes.Email).First().Value;
    var userId = Context.User.Claims.Where(x => x.Type == "Id").First().Value;
}

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Auth" asp-action="Profile" asp-route-id="@userId">
            @email
        </a>
    </li>
    <li class="nav-item">
        <form asp-controller="Auth" asp-action="Logout">
            <button class="btn btn-link text-dark" id="logout" type="submit">Logout</button>
        </form>
    </li>
</ul>