@model TodoListApp.Application.Users.DTO.MainPanelDto
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    
    <div class="row">

        <div id="sideMenu" class="col-3" style="border: 1px dotted black">
            @if (!Model.CategoryNames.Any())
            {
                <span>There are no categories</span>
            }
            else
            {
                <ul class="list-group">
                    @foreach (var category in Model.CategoryNames)
                    {
                        <li class="list-group-item">
                            <button class="btn-block" value="@category">@category</button>
                        </li>
                    }
                </ul>
            }

            <hr />
            <form>
                <button class="btn btn-dark list-group-item" type="submit">New Category</button>
            </form>
        </div>

        <div id="dynamicContent" class="col" style="border: 1px dotted red">
            <ul class="list-group">
                @foreach (var task in Model.Tasks)
                {
                <li class="list-group-item bg-light mt-2">
                    <div class="row">
                        <div class="col-sm-4">
                            <text>@task.TaskName</text>
                        </div>
                        <div class="col-sm">
                            @{
                                switch (task.Priority)
                                {
                                    case TodoListApp.Core.Domain.PriorityLevel.Low:
                                        <i class="fas fa-2x fa-circle"></i>
                                        <i class="far fa-2x fa-circle"></i>
                                        <i class="far fa-2x fa-circle"></i>
                                        break;
                                    case TodoListApp.Core.Domain.PriorityLevel.Medium:
                                        <i class="fas fa-2x fa-circle"></i>
                                        <i class="fas fa-2x fa-circle"></i>
                                        <i class="far fa-2x fa-circle"></i>
                                        break;
                                    <i class="fas fa-2x fa-circle"></i>
                                    <i class="fas fa-2x fa-circle"></i>
                                    <i class="fas fa-2x fa-circle"></i>
                                    case TodoListApp.Core.Domain.PriorityLevel.High:
                                        break;
                                }
                            }
                        </div>
                        <div class="col-sm text-center">
                            @{
                                if (task.PredictedBestBeforeDateExceeded)
                                {
                                    <i class="fas fa-2x fa-hourglass-end text-danger"></i>
                                }
                                else
                                {
                                    <i class="fas fa-2x fa-hourglass-start text-success"></i>
                                }
                            }
                        </div>
                        <div class="col-sm justify-content-center">
                            <button class="d-inline-block">Details</button>
                        </div>
                    </div>
                </li>
            }
                </ul>
        </div>

    </div>

</div>
