@model TodoListApp.Application.Users.DTO.MainPanelDto
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    
    <div class="row">

        <div id="sideMenu" class="col-3">
            @if (!Model.Categories.Any())
            {
                <span>There are no categories</span>
            }
            else
            {
                <ul class="list-group">
                    @foreach (var category in Model.Categories)
                    {
                        <li class="d-flex d-block mt-2 shadow rounded">
                            <button class="btn btn-light w-100 h-100" value="@category.Key">@category.Value</button>   
                        </li>
                    }
                </ul>
            }

            <hr />
            <form>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-dark" type="submit">New Category</button>
                </div>   
            </form>
        </div>

        <div id="dynamicContent" class="col">
            <partial name="../Board/Tasks" model="@Model.Tasks" />
        </div>

    </div>

</div>
