@model string

<ul class="list-group">
    @*@foreach (var task in Model.Tasks)
    {
        <li class="list-group-item bg-dark">
            <div class="row">
                <text>@task.TaskName</text>
            </div>
            <button class="d-inline-block">Details</button>
        </li>
    }*@
</ul>
